{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "govuk/components/panel/macro.njk"         import govukPanel %}


{% block pageTitle %}
  {{ title(messages("registrationSuccessful.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

            {{ govukPanel({
              titleText:  {{ messages("registrationSuccessful.panel") }}
            }) }}

        <h2 class="govuk-heading-l">
          {{ messages("registrationSuccessful.heading") }}
        </h2>

        <p class="govuk-body">{{ messages("registrationSuccessful.email") }}</p>

        <p class="govuk-body">{{ messages("registrationSuccessful.submission.text") }} 
        <a href="//Todo" class="govuk-link">{{messages("registrationSuccessful.submission.link")}}</a></p>

      </div>
    </div>
  </div>

{% endblock %}
