$govuk-assets-path: "/register-for-cross-border-arrangements/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/register-for-cross-border-arrangements/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "partials/header";
@import "language-toggles.scss";
@import "_timeout-dialog.scss";
@import "_recruitmentBanner.scss";

svg.autocomplete__dropdown-arrow-down {
  pointer-events: none;
}

/* TODO remove when WCGA issue is fixed */
.hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav__link:focus {
  color: #0B0C0C;
}
